
*.json
esp32.svd
debug.cfg
debug.svd
__vm/Upload.vmps.xml
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/be8ab07c3b73ea75/STRINGS_DE.ipch
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/90ffcf481aa2c5c3/PINS.ESP32.ipch
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/7f40bc0125db6866/SMARTHANDCONTROLLERVSK.ipch
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/7f40bc0125db6866/SMARTHANDCONTROLLERVSK.ipch
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/e6fdfa196a61100f/MESSAGE.ipch
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/54318386cfe0326d/STRINGS_EN.ipch
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/3d3a2c64317e600e/BITMAPS.ipch
.vs/SmartHandControllerVSK/v17/fileList.bin
.vs/SmartHandControllerVSK/v17/fileList.bin
.vs/SmartHandControllerVSK/v17/ipch/AutoPCH/7f40bc0125db6866/SMARTHANDCONTROLLERVSK.ipch
.vs/SmartHandControllerVSK/FileContentIndex/94db76aa-4939-44a8-9c49-92d43c4706e1.vsidx
.vs/SmartHandControllerVSK/FileContentIndex/a9e86578-f91a-41e8-87f5-f9e27a41a495.vsidx
.vs/SmartHandControllerVSK/FileContentIndex/a9e86578-f91a-41e8-87f5-f9e27a41a495.vsidx
.vs/SmartHandControllerVSK/FileContentIndex/a9e86578-f91a-41e8-87f5-f9e27a41a495.vsidx
